<div class="jumbotron text-center">
	<h1>myShifu</h1>
	<p class="lead">Welcome to myShifu App</p>
	<div>
		<a class="btn btn-primary" [routerLink]="['/register']">Register</a>
		<a class="btn btn-default" [routerLink]="['/login']">Login</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Student</h3>
		<p style="font-variant:small-caps">Get ahead by using this app</p>
	</div>

	<div class="col-md-4">
		<h3>University</h3>
		<p style="font-variant:small-caps">Platform to evolve</p>
	</div>
	
	<div class="col-md-4">
		<h3>Parents</h3>
		<p style="font-variant:small-caps">Get involve with the communities!</p>
	</div>

		<div class="col-md-4">
		<h3>Corporates</h3>
		<p style="font-variant:small-caps">Expand your Demographic market!</p>
	</div>


</div>
